<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--    namespace 的根目录是src/main/java    -->
<mapper namespace="com.bitejiuyeke.biteadminservice.map.mapper.RegionMapper">

    <select id="selectAllRegion" resultType="com.bitejiuyeke.biteadminservice.map.domain.entity.SysRegion">
        select * from sys_region order by pinyin;
    </select>

    <select id="selectAllRegionOrderByPinyin" resultType="com.bitejiuyeke.biteadminservice.map.domain.entity.SysRegion">
        select * from sys_region order by pinyin;
    </select>

    <select id="selectRegionByIds" resultType="com.bitejiuyeke.biteadminservice.map.domain.entity.SysRegion">
        select * from sys_region where id in
        <foreach item="id" collection="regionIds" separator="," open="(" close=")">
            #{id}
        </foreach>
    </select>

    <select id="selectRegionByParentCode" resultType="com.bitejiuyeke.biteadminservice.map.domain.entity.SysRegion">
        select * from sys_region where parent_code = #{parentCode};
    </select>
</mapper>